html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: "helvetica neus";
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
  padding: 0;
}
*,
*:before,
*::after {
  box-sizing: inherit;
}
.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}
.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
  align-items: center;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.panel1 {
  background: url(../img/im1.jpg);
  background: cover;
  background-position: center;
}
.panel2 {
  background: url(../img/img2.jpg);
  background: cover;
  background-position: center;
}
.panel3 {
  background: url(../img/img3.jpg);
  background: cover;
  background-position: center;
}
.panel4 {
  background: url(../img/img4.jpg);
  background: cover;
  background-position: center;
}
.panel5 {
  background: #0219fd99 url(../img/im1.jpg);
  background: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
  text-shadow: 3px 9px #fffc34;
  animation: 0.5s infinite;
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}
.panel p {
  text-transform: uppercase;
  font-family: "Amatic SC" cursive;
  text-shadow: 0 0 4px rgba(0 0 0 0.72), 0 0 14px rgba(0 0 0 0.45);
  font-size: 1em;
}
.panel.open {
  flex: 5;
  font-size: 40px;
}
.panel p:nth-child(2) {
  font-size: 1em;
}
@keyframes pulse {
  from {
    opacity: 10;
  }
  to {
    transform: scale();
    opacity: 0.4;
  }
}

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}
